<input type="hidden" name="id" value="{$data.id}">
<div>
    <label for="name">校区名</label>
    <input type="text" id="name" name="name" value="{$data.name}" class="easyui-textbox easyui-validatebox" data-options="required:true" style="width: 145px;">
</div>
<!--<div>
    <label for="state">校区状态</label>
    <select name="state" id="state">
        <if condition="$data.state eq 1">
            <option value="0">关闭</option>
            <option value="1" selected>正常</option>

            <else />

            <option value="0" selected>关闭</option>
            <option value="1">正常</option>
        </if>
    </select>
</div>-->
