<div>
    <label for="username">用户名</label>
    <input type="text" id="username" name="username" class="easyui-validatebox" data-options="required:true">
</div>
<div>
    <label for="name">真实姓名</label>
    <input type="text" id="name" name="name" class="easyui-validatebox" data-options="required:true">
</div>
<div>
    <label for="password">密码</label>
    <input type="password" id="password" name="password" class="easyui-validatebox" data-options="required:true">
</div>
<div>
    <label for="confirmPass">确认密码</label>
    <input type="password" id="confirmPass" name="confirmPass" class="easyui-validatebox" required="required" validType="equals['#password']">
</div>
